<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513070948124-aboh1nk4fj86nuhi857h2lpli4p0kdr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513070948124-aboh1nk4fj86nuhi857h2lpli4p0kdr9</string>
	<key>API_KEY</key>
	<string>AIzaSyAzx5BnTNTUvJ0xsMkeYf_92q01Qz4XX64</string>
	<key>GCM_SENDER_ID</key>
	<string>513070948124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kno.InstagramCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramclonefirebase-baaf1</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonefirebase-baaf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513070948124:ios:b9ff9c1aef134d1bdba4d9</string>
</dict>
</plist>